<h3>Wynik wyszukiwania:</h3>
<table>
    <tr>
        <td>
            <h4>Book</h4>
        </td>
        <td>
            <h4>Price</h4>
        </td>
    </tr>
    @for (int i = 0; i < BooksNames.Count; i++)
    {
        <tr>
            <td>
                <h3>@BooksNames[i]</h3>
            </td>
            <td>
                <h3>@PricePerBook[i]</h3>
            </td>
        </tr>
    }
</table>
@code {
    [Parameter]
    public List<string> BooksNames { get; set; }
    
    [Parameter]
    public List<string> PricePerBook { get; set; }

}
