@page "/ksiegarnia"
@using BlazedWebScrapper.Data;
@using HtmlAgilityPack;
@using BlazedWebScrapper.Pages.Components;
@using System.Drawing;
@inject IBasicWebScrapperSite webScrapperImplementation
@inject TabConfigurator tabConfigurator
@inject ConstsBookScrapper consts
@inject Book searchBook
@inject List<Book> listOfBooks

<body>
    <SampleComponent MyProperty=":D" Action=@KeepInMindSafety></SampleComponent>
    <div>
        <div>
            <div style="width:100%;height:50px;text-align:center;">
                <h2>Witaj dobry człowieku tutaj możesz wyszukać książki!</h2>
            </div
            <div style="height:10px;width:100%">
            </div>
            <div style="margin-left:30%;width:100%">
                <input type="text" style="width:30%;height:60px; margin-bottom:30px" placeholder="@searchBook.Author.Name @searchBook.Title" />
                <button type="button" @onclick="() => searchPredefinedBook(Mroz)"><img src="css/open-iconic/font/fonts/searchIcon.png"></button>
            </div>
        </div>
        <div>
            <h3>Lub wybierz z proponowanych:</h3>
            <Table ListOfBooks="listOfBooks" SetAuthor="setAuthor" tileColor="tabConfigurator.TileColor" SetTitle="setTitle"></Table>
        </div>
    </div>
</body>

@code {
    public string Mroz = "Mroz";
    //Wydawnictwoniezwykle.
    //ksiegarnia.pwn.pl
    //nk.com.pl
    //albatros (ciężkie)
    //czytelnik.pl/
    public string fullPredefined = String.Empty;
    string KeepInMindSafety()
    {
        return "Keep in mind safety dude";
    }
    void searchPredefinedBook(string book)
    {
        fullPredefined = book;
        searchText();

    }
    void setAuthor(string author)
    {
        searchBook.Author.Name = author;
    }
    void setTitle(string title)
    {
        searchBook.Title= title;
    }
    void changeColor()
    {
        tabConfigurator.TileColor = Color.Black.Name;
    }
    void changeColorBack()
    {
        tabConfigurator.TileColor = Color.Green.Name;

    }
    protected override void OnInitialized()
    {
        tabConfigurator.TileColor = Color.Green.Name;
        listOfBooks.InitializeBooks();
    }
    void searchText()
    {
        webScrapperImplementation.SiteName = $"https://czytelnik.pl/pl/searchquery/{fullPredefined}/1/phot/5?url={fullPredefined}";
        string test = webScrapperImplementation.SiteName;
        var web = new HtmlWeb();
        var doc = web.Load(test);
        var nodesProducts = webScrapperImplementation.AllNodes(doc,consts.ProductWrapper,
                                                                   consts.ClassAttribute,
                                                                   consts.ATag);
        var Books = webScrapperImplementation.AllNodes(doc,"productname","class","span");
        List<string> booksNames = webScrapperImplementation.GetNamesFromNodes(Books);
        List<HtmlNode> nodePricesDiv = webScrapperImplementation.AllNodes(doc, "price f-row", "class", "div");
        List<HtmlNode> nodePricesValue = webScrapperImplementation.GetFirstDescendant(nodePricesDiv,"em");

        List<string> pricePerBook = webScrapperImplementation.GetNamesFromNodes(nodePricesValue);
    }
    
}