@page "/ksiegarnia"
@using BlazedWebScrapper.Data;
@using HtmlAgilityPack;
@using BlazedWebScrapper.Pages.Components;
@using System.Drawing;
@using System.Text;
@inject IBasicWebScrapperSite webScrapperImplementation
@inject IFactorySearcher factorySearcher
<body>
    <div>
        <Header OnInputEvent="OnInputEvent" SearchPredefinedBook="SearchPredefinedBook" InputValue="@inputValue" AuthorName="@searchBook.Author.Name" Title="@searchBook.Title"></Header>
        <div>
        </div>
        <div>
            @if (isSearchDone)
            {
                <TableResult Link="searcherBooksCzytelnik.Links" Author="searcherBooksCzytelnik.Authors" BooksNames="searcherBooksCzytelnik.Books" PricePerBook="searcherBooksCzytelnik.Prices" Source="Czytelnik"></TableResult>
                <TableResult Link="searcherBooksPWN.Links" Author="searcherBooksPWN.Authors" BooksNames="searcherBooksPWN.Books" PricePerBook="searcherBooksPWN.Prices" Source="PWN"></TableResult>
                <TableResult Link="searcherBooksNiezwykle.Links" Author="searcherBooksNiezwykle.Authors" BooksNames="searcherBooksNiezwykle.Books" PricePerBook="searcherBooksNiezwykle.Prices" Source="WN"></TableResult>
            }
        </div>
    </div>
</body>
@code {
    public bool Binded = false;
    ISearcherBooks searcherBooksCzytelnik;
    ISearcherBooks searcherBooksPWN;
    ISearcherBooks searcherBooksNiezwykle;
    TabConfigurator tabConfigurator = new TabConfigurator();
    ConstsBookScrapper consts = new ConstsBookScrapper();
    Book searchBook = new Book();
    List<Book> listOfBooks = new List<Book>();
    Query query = new Query();
    BookService bookService = new BookService();
    public string inputValue = "";
    bool isSearchDone = false;
    void SearchPredefinedBook()
    {
        searcherBooksCzytelnik = factorySearcher.GetSearcher("Czytelnik",query, webScrapperImplementation);
        searcherBooksCzytelnik.BuildFullUrlToSearch(inputValue, searchBook.Author.Name, searchBook.Title, consts.CzytelnikSite);
        searcherBooksCzytelnik.SearchText();
        searcherBooksPWN = factorySearcher.GetSearcher("PWN", query, webScrapperImplementation);
        searcherBooksPWN.BuildFullUrlToSearch(inputValue, searchBook.Author.Name, searchBook.Title, consts.PWNSite);
        searcherBooksPWN.SearchText();
        searcherBooksNiezwykle = factorySearcher.GetSearcher("Niezwykle", query, webScrapperImplementation);
        searcherBooksNiezwykle.BuildFullUrlToSearch(inputValue, searchBook.Author.Name, searchBook.Title, consts.NiezwykleSite);
        searcherBooksNiezwykle.SearchText();
        isSearchDone = true;
    }
    protected override void OnInitialized()
    {
        tabConfigurator.TileColor = Color.Green.Name;
        listOfBooks.InitializeBooks();
    }
    private void OnInputEvent(ChangeEventArgs changeEvent)
    {
        inputValue = (string)changeEvent.Value;
    }
}