@page "/ksiegarnia"
@using BlazedWebScrapper.Data;
@using HtmlAgilityPack;
@using BlazedWebScrapper.Pages.Components;
@using System.Drawing;
@using System.Text;
@inject IBasicWebScrapperSite webScrapperImplementation
<body>
    <div>
        <Header OnInputEvent="OnInputEvent" SearchPredefinedBook="SearchPredefinedBook" InputValue="@inputValue" AuthorName="@searchBook.Author.Name" Title="@searchBook.Title"></Header>
        <div>
        </div>
        <div>
            @if (isSearchDone)
            {
                <TableResult Author = "czytelnikSearcher.AuthorName" BooksNames="czytelnikSearcher.BooksNames" PricePerBook="czytelnikSearcher.PricePerBook" Source="Czytelnik"></TableResult>
                <TableResult Author = "PWNSearcher.AuthorName" BooksNames="PWNSearcher.BooksNames" PricePerBook="PWNSearcher.PricePerBook" Source="PWN"></TableResult>

            }
        </div>
    </div>
</body>
@code {
    ISearcherBooks czytelnikSearcher = new CzytelnikSearcher();
    ISearcherBooks PWNSearcher = new PWNSearcher();

    TabConfigurator tabConfigurator = new TabConfigurator();
    ConstsBookScrapper consts = new ConstsBookScrapper();
    Book searchBook = new Book();
    List<Book> listOfBooks = new List<Book>();
    Query query = new Query();
    BookService bookService = new BookService();
    public string inputValue = "";
    bool isSearchDone = false;
    void SearchPredefinedBook()
    {
        query.UrlWithSiteName = consts.CzytelnikSite;
        webScrapperImplementation.FullUrlToReadFrom = czytelnikSearcher.BuildFullUrlToSearch(query, inputValue, searchBook.Author.Name, searchBook.Title);
        searchText(czytelnikSearcher);

        query.UrlWithSiteName = consts.PWNSite;
        webScrapperImplementation.FullUrlToReadFrom = PWNSearcher.BuildFullUrlToSearch(query, inputValue, searchBook.Author.Name, searchBook.Title);
        searchText(PWNSearcher);

    }
    protected override void OnInitialized()
    {
        tabConfigurator.TileColor = Color.Green.Name;
        listOfBooks.InitializeBooks();
    }
    private void OnInputEvent(ChangeEventArgs changeEvent)
    {
        inputValue = (string)changeEvent.Value;
    }
    void searchText(ISearcherBooks searcher)
    {
        searcher.SearchText(webScrapperImplementation.FullUrlToReadFrom,webScrapperImplementation,consts);
        isSearchDone = true;
    }
}