@page "/ksiegarnia"
@using BlazedWebScrapper.Data.Classes.Configuration;
@using BlazedWebScrapper.Data.Classes.Consts;
@using BlazedWebScrapper.Data.Classes.Data;
@using BlazedWebScrapper.Data.Classes.Queries;
@using BlazedWebScrapper.Data.Classes.Services;
@using BlazedWebScrapper.Data.Interfaces;
@using System.Drawing;
@using BlazedWebScrapper.Data;
@using BlazedWebScrapper.Pages.Components
<body>
    <div>
        <Header SearchPredefinedBook="SearchPredefinedBook" AuthorName="@searchBook.Author.Name" Title="@searchBook.Title"></Header>
        <div>
            @if (isRenderDone)
            {
                <FilteringOptions  FSpec="filtering" DataChangedTriggerFlow="TriggerStatusChange"></FilteringOptions>
                @if (isSearchDone)
                {
                    <SearchResult BookService="bookService"></SearchResult>
                }
            }
        </div>
    </div>
</body>
