@page "/ksiegarnia"
@using BlazedWebScrapper.Data.Classes.Configuration;
@using BlazedWebScrapper.Data.Classes.Consts;
@using BlazedWebScrapper.Data.Classes.Data;
@using BlazedWebScrapper.Data.Classes.Queries;
@using BlazedWebScrapper.Data.Classes.Services;
@using BlazedWebScrapper.Data.Interfaces;
@using System.Drawing;
@using BlazedWebScrapper.Data;
@using BlazedWebScrapper.Pages.Components
<body>
    <div>
        <Header SearchPredefinedBook="SearchPredefinedBook" AuthorName="@searchBook.Author.Name" Title="@searchBook.Title"></Header>
        <div>
            @if (isSearchDone)
            {
                <h3>Poniżej znajdziesz posortowane książki względem ceny!</h3>
                <table style="text-align:center;">
                    <tr>
                        <td>
                            Książka
                        </td>
                        <td>
                            Cena
                        </td>

                    </tr>
                    @foreach (var obj in bookServiceList.FullListOfBooks)
                    {
                        <tr>
                            <td>
                                <a href=@obj.Item3 target="_blank">
                                    <h6>@obj.Item1</h6>
                                </a>
                            </td>
                            <td>
                                <h6>@obj.Item2</h6>
                            </td>

                        </tr>
                    }

                </table>
                <br />
                <br />
                <TableResult Link="searcherBooksNaszaKsiegarnia.Links" Author="searcherBooksNaszaKsiegarnia.Authors" BooksNames="searcherBooksNaszaKsiegarnia.Books" PricePerBook="searcherBooksNaszaKsiegarnia.Prices" Source="NK"></TableResult>
                <TableResult Link="searcherBooksCzytelnik.Links" Author="searcherBooksCzytelnik.Authors" BooksNames="searcherBooksCzytelnik.Books" PricePerBook="searcherBooksCzytelnik.Prices" Source="Czytelnik"></TableResult>
                <TableResult Link="searcherBooksPWN.Links" Author="searcherBooksPWN.Authors" BooksNames="searcherBooksPWN.Books" PricePerBook="searcherBooksPWN.Prices" Source="PWN"></TableResult>
                <TableResult Link="searcherBooksNiezwykle.Links" Author="searcherBooksNiezwykle.Authors" BooksNames="searcherBooksNiezwykle.Books" PricePerBook="searcherBooksNiezwykle.Prices" Source="WN"></TableResult>
              
            }
        </div>
    </div>
</body>